body {
    width: 100%;
    height: 100%;
    background-color: rgb(137, 164, 238);
}
.flex-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: solid;


}
.titulo {

    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    background-color: beige;
}

@media (min-width: 900px) and (max-width: 600px) {
    .titulo {
        font-size: 15px;
        background-color:  aquamarine;
    }
}


@media  (max-width: 600px)